<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>پروفایل</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">

          <thead>
            <tr>
              <th>User</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Gender</th>
              <th>Family size</th>
              <th>Cardnumber</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @profiles.each do |profile| %>
              <tr>
                <td><%= profile.user.id %></td>
                <td><%= profile.first_name %></td>
                <td><%= profile.last_name %></td>
                <td><%= profile.gender %></td>
                <td><%= profile.family_size %></td>
                <td><%= profile.cardnumber %></td>
                <td><%= link_to 'Show', profile %></td>
                <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
                <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <%= link_to 'New Profile', new_profile_path %>
    </div>
  </div>
</div>
