
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3><%= @profile.user_id %></h3>
    </div>
    <div class="panel-body">
      <p>
        <strong>First name:</strong>
        <%= @profile.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @profile.last_name %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @profile.gender %>
      </p>

      <p>
        <strong>Family size:</strong>
        <%= @profile.family_size %>
      </p>

      <p>
        <strong>Cardnumber:</strong>
        <%= @profile.cardnumber %>
      </p>

      <%= link_to 'Edit', edit_profile_path(@profile), :class => 'btn btn-primary' %>&nbsp;
      <%= link_to 'Back', profiles_path, :class => 'btn btn-orange' %>
    </div>
  </div>
</div>
