
 <!--START MAIN-CONTENT -->

<div class="container" style="margin-top:30px;">



<!--START STATS-WIDGET -->

  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4>آمار وضعیت</h4>
        </div>
        <div class="panel-body">
          <ul id="sortable" class="unstyled ui-sortable" style="padding-left:20px;">
            <div class="col-sm-4">
            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#4DB848;">25,650</h1>
                <p>مقدار وصولی این ماه</p>
              </div>
            </li>
            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#0099FF;">30,789</h1>
                <p>مجموع هزینه این ماه</p>
              </div>
            </li>
            </div>
            <div class="col-sm-4">
            <li class="ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#ff4056;">20</h1>
                <p>تعداد ساکنین</p>
              </div>
            </li>

            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#ff9900;">7</h1>
                <p>تعداد واحدها</p>
              </div>
            </li>
            </div>
            <div class="col-sm-4">
            <li class=" ui-state-default">
              <div class="infoblock shadow">
                <h1 style="color:#FF6320;">5640</h1>
                <p>باقیمانده بستانکاری</p>
              </div>
            </li>
            <li class="ui-state-default">
              <div class="infoblock shadow ">
                <h1 style="color:#6148B3;">42,587</h1>
                <p>مجموع حساب سالانه</p>
              </div>
            </li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <!--END STATS-WIDGET -->

    <!--START -RECENT-POSTS-WIDGET -->

    <div class="col-sm-5">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4>آخرین اخبار</h4>
        </div>
        <div class="panel-body">
          <div id="news-group" class="list-group">
            <% if @news.count == 0 %>
              <p>هیچ خبری برای این ساختمان وجود ندارد.</p>
            <% else %>
              <% @news.each do |news| %>
                <%= link_to news, :class => 'list-group-item' do %>
                  <h4 class="list-group-item-heading"><%= news.title %></h4>
                  <p class="list-group-item-text"><%= news.content %></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!--END -RECENT-POSTS-WIDGET -->
  </div>



  <% if user_signed_in? and !(current_user.has_role? :resident) %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4>قبوض وصول نشده ساکنین</h4>
        </div>
        <div class="panel-body">
          <div class="row-fluid">
          <div class="table-responsive">
            <table class="table table-success table-condensed table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width:4%;">ردیف</th>
                  <th style="width:10%;">ساختمان</th>
                  <th style="width:5%;">واحد</th>
                  <th style="width:15%;">مالک</th>
                  <th style="width:15%;">توضیحات</th>
                  <th style="width:10%;">مبلغ</th>
                  <th style="width:10%;">مهلت پرداخت</th>
                  <th style="width:15%;">وضعیت</th>
                </tr>
              </thead>
              <tbody>
                <% @bills.each_with_index do |bill,index| %>
            
                <tr>
                  <th><%= index+1 %></th>
                  <th><%= bill.unit.building.name %></th>
                  <th><%= bill.unit.unit_number %></th>
                  <th><% if bill.unit.user != nil %>
                  <%= bill.unit.user.profile.first_name %> <%= bill.unit.user.profile.last_name %>
                  <% else %>
                  <% end %></th>
                  <th><%= bill.description %></th>
                  <th><%= bill.price %> ریال</th>
                  <th><%= to_jalali_date(bill.deadline) %></th>
                  <th><% if bill.status == false %>
                  <%= 'پرداخت نشده' %><% else %><%= 'پرداخت شده' %><% end %></th>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if user_signed_in? and (current_user.has_role? :resident) %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-success">
        <div class="panel-heading clearfix">
          <h4>قبوض پرداخت نشده</h4>
        </div>
        <div class="panel-body">
          <div class="row-fluid">
          <div class="table-responsive">
            <table class="table table-success table-condensed table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width:4%;">ردیف</th>
                  <th style="width:10%;">ساختمان</th>
                  <th style="width:5%;">واحد</th>
                  <th style="width:15%;">توضیحات</th>
                  <th style="width:10%;">مبلغ</th>
                  <th style="width:10%;">مهلت پرداخت</th>
                  <th style="width:15%;">وضعیت</th>
                </tr>
              </thead>
              <tbody>
                <% @bills.each_with_index do |bill,index| %>
            
                <tr>
                  <th><%= index+1 %></th>
                  <th><%= bill.unit.building.name %></th>
                  <th><%= bill.unit.unit_number %></th>
                  <th><%= bill.description %></th>
                  <th><%= bill.price %> ریال</th>
                  <th><%= to_jalali_date(bill.deadline) %></th>
                  <th><% if bill.status == false %>
                  <%= 'پرداخت نشده' %><% else %><%= 'پرداخت شده' %><% end %></th>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  

</div>
