
<div class="row">
	<div class="container">
	<div class="col-md-offset-4 col-md-4">
		<% if not user_signed_in? %>
		<div id="index-form" class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>'form', :role=>'form') do |f| %>

					<div class="form-group">
					<%= f.label :email,"ایمیل", :class=>'col-md-3 form-label' %>
						<div class="col-md-8 input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<%= f.email_field :email, :placeholder=>'Email', :class=>'form-control', :autofocus => true %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :password,"گذرواژه", :class=>'col-md-3 form-label' %>
						<div class="col-md-8 input-group">
							<span class="input-group-addon"><i class="fa fa-key"></i></span>
							<%= f.password_field :password, :placeholder=>'Password', :class=>'form-control' %>
						</div>
					</div>

					<% if devise_mapping.rememberable? -%>
					<div class="form-group">
						<div class="controls">
							<%= f.check_box :remember_me %>&nbsp;<%= f.label :remember_me,"مرا به خاطر بسپار", :class=>'form-label' %>
						</div>
					</div>
					<% end -%>

					<%= f.submit "ورود", :class=>'col-md-offset-5 col-md-3 btn btn-primary btn-lg large green button radius' %>
					<% end %>			
				</div>
			</div>
		</div>
		<% else %>
		<div id="index-form" class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="center">
						<p>به سیستم شارژ ساختمان خوش آمدید - <a href="/charge/dashboard"> به داشبورد مراجعه کنید</a></p>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	</div>
</div>
