<h1>Listing bills</h1>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th>Price</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.manager_id %></td>
        <td><%= bill.price %></td>
        <td><%= bill.description %></td>
        <td><%= bill.deadline %></td>
        <td><%= bill.state %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
