
<div class="container">
  <div class="panel">
    <div class="panel-heading">
		  <h3><%= @news.title %></h3>
    </div>
    <div class="panel-body">

		&nbsp;
		<p>
		  <%= @news.content %>
		</p>
		<br>
		<p>
			<strong>تاریخ انتشار: </strong>
			<%= to_jalali_date(@news.created_at) %>
		</p>

		<%= link_to news_index_path,:class => "btn btn-orange" do %>
		<i class="fa fa-arrow-circle-o-right"></i>&nbsp;
		<%= t('Back') %>
		<% end %>

		<%#= link_to t('Edit'), edit_news_path(@news), :class => 'btn btn-primary' %>&nbsp;
		<%#= link_to @expense, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" do %>
      <!--i class="fa fa-trash-o"></i>&nbsp;-->
      <%#= 'حذف خبر' %>
    <%# end %>
    </div>
  </div>
</div>
