<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :floor_cnt, "تعداد طبقات"  %><br>
    <%= f.number_field :floor_cnt %>
  </div>
  <div class="field">
    <%= f.label :units_cnt, "تعداد واحد" %><br>
    <%= f.number_field :units_cnt %>
  </div>
  <div class="field">
    <%= f.label :manager_id, "مدیر" %><br>
    <%= f.number_field :manager_id %>
  </div>
  <div class="field">
    <%= f.label :general_info, "دیگر اطلاعات" %><br>
    <%= f.text_area :general_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
=======
  <div class="form-group">
    <%= f.label :floor_cnt, "تعداد طبقات", :class => 'form-label'%>
    <div class="input-group">
      <%= f.number_field :floor_cnt, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :units_cnt, "تعداد واحد", :class => 'form-label' %>
    <div class="input-group">
      <%= f.number_field :units_cnt, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group hide">
    <%= f.label :manager_id, "مدیر", :class => 'form-label' %>
    <div class="input-group">
      <%= f.number_field :manager_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :general_info, "دیگر مشخصات", :class => 'form-label' %>
    <div class="input-group">
      <%= f.text_area :general_info, :class => 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <br>
    <%= f.submit "ایجاد", :class => 'btn btn-success' %>
>>>>>>> c65f81f4d82ef87298bbcbc553797664478b880b
  </div>
<% end %>
