<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <!--h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2-->

      <div class='error_explanation'>
      <% @building.errors.each do |attr,msg| %>
        <%= msg %>
      <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "نام ساختمان", :class => 'control-label'%>
    <div class="input-group">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :floor_cnt, "تعداد طبقات", :class => 'control-label'%>
    <div class="input-group">
      <%= f.number_field :floor_cnt, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :units_cnt, "تعداد واحد", :class => 'control-label' %>
    <div class="input-group">
      <%= f.number_field :units_cnt, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group hide">
    <%= f.label :user_id, "مدیر", :class => 'control-label' %>
    <div class="input-group">
      <%= f.number_field :user_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "تائید", :class => 'btn btn-success' %>
  </div>
<% end %>
