<h1>ویرایش ساختمان</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to t('Show'), @building %> |
<%= link_to t('Back'), buildings_path %>
=======
<%= link_to 'Show', @building %> |
<%= link_to 'Back', buildings_path %>
>>>>>>> c65f81f4d82ef87298bbcbc553797664478b880b
