<h1>ویرایش ساختمان</h1>

<%= render 'form' %>

<%= link_to 'واحد جدید برای این ساختمان', new_unit_path(building_id: @building.id) %>
<br/>
<%= link_to 'هزینه جدید برای این ساختمان', new_expense_path(building_id: @building.id) %>
<br/>
<%= link_to 'پلان هزینه جدید برای این ساهتمان', new_plans_path(building_id: @building.id) %>
<br>
<%= link_to t('Show'), @building %> |
<%= link_to t('Back'), buildings_path %>
