<div class="container">
  <div class="panel">
    <% if @buildings.size == 0 %>
    <div class="panel-heading">
      <h1>ساختمانی برای حساب کاربری شما یافت نشد</h1>
    </div>
    <div class="panel-body">
      <br>

      <%= link_to 'ایجاد ساختمان', new_building_path %>
    </div>
    <% elsif @buildings.size == 1 %>
    <% building = @buildings.first %>
    <div class="panel-heading">
      <h1>ساختمان شما</h1>
    </div>
    <div class="panel-body">

      <p>
        <strong>تعداد طبقات:</strong>
        <%= building.floor_cnt %>
      </p>

      <p>
        <strong>تعداد واحد:</strong>
        <%= building.units_cnt %>
      </p>

      <p>
        <strong>دیگر مشخصات:</strong>
        <%= building.general_info %>
      </p>
      <br/>
      <p>
        <% @units = building.units %>
        <% @units.each do |unit| %>
        <br><br>
        <p>
          <strong>User:</strong>
          <%= unit.user_id %>
        </p>

        <p>
          <strong>Building:</strong>
          <%= unit.building_id %>
        </p>

        <p>
          <strong>طبقه:</strong>
          <%= unit.floor_number %>
        </p>

        <p>
          <strong>جهت مکانی:</strong>
          <%= unit.side %>
        </p>

        <p>
          <strong>شماره واحد:</strong>
          <%= unit.unit_number %>
        </p>

        <p>
          <strong>مساحت:</strong>
          <%= unit.area %>
        </p>

        <p>
          <strong>شمار سکنه:</strong>
          <%= unit.resident_count %>
        </p>
        <%= link_to t('Edit'), edit_unit_path(unit) %> |
        <%= link_to t('Destroy'), unit, method: :delete, data: { confirm: 'آیا مطمئن هستید؟' } %> |
        <%= link_to t('Show'), unit %>
        <% end %>
        <br/>
      </p>
      <br/>
      <%= link_to t('Show'), building %>
      <br>
      <%= link_to t('Edit'), edit_building_path(building) %>
      <br>
      <%= link_to t('Destroy'), building, method: :delete, data: { confirm: 'آیا مطمئن هستید؟' } %>
      <br>
      <%= link_to 'واحد جدید برای این ساختمان', new_unit_path(building_id: building.id) %>
      <br/>
      <%= link_to 'مشاهده هزینه ها', expenses_path(building_id: building.id) %>
      <br/>
      <%= link_to 'مشاهده پلان های هزینه', plans_path(building_id: building.id) %>
      <br>
      <br>
    </div>
    <% else %>
    <div class="panel-heading">
      <h1>لیست ساختمانها</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>تعداد طبقات</th>
              <th>تعداد واحد</th>
              <th>دیگر اطلاعات</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @buildings.each do |building| %>
              <tr>
                <td><%= building.floor_cnt %></td>
                <td><%= building.units_cnt %></td>
                <td><%= building.general_info %></td>
                <td><%= link_to t('Show'), building %></td>
                <td><%= link_to t('Edit'), edit_building_path(building) %></td>
                <td><%= link_to t('Destroy'), building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'واحد جدید برای این ساختمان', new_unit_path(building_id: building.id) %>
                <td><%= link_to 'مشاهده هزینه ها', expenses_path(building_id: building.id) %></td>
                <td><%= link_to 'مشاهده پلان های هزینه', plans_path(building_id: building.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
