<div class="container">
  <div class="panel">
    <% if @buildings.size == 0 %>
    <div class="panel-heading">
      <h1>ساختمانی برای حساب کاربری شما یافت نشد</h1>
    </div>
    <div class="panel-body">
      <br>

      <%= link_to new_building_path,:class => "btn btn-primary" do %>
      <i class="fa fa-plus-square"></i>&nbsp;
      <%= 'ایجاد ساختمان جدید' %>
      <% end %>
    </div>
    <% elsif @buildings.size == 1 %>
    <% building = @buildings.first %>
    <div class="panel-heading">
      <h3><% if building.name != nil %>
          <%= building.name %>
          <% else %>
          <%= 'ساختمان شما' %>
          <% end %></h3>
    </div>
    <div class="panel-body">
      <br>
      <div class="row">
        <div class="col-md-8">
          <table id="buildings-table">
            <thead>
              <tr>
                <th style="width=540px;"></th>
                <th style="width=30%;"></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <th><strong>نام ساختمان:</strong></th>
                <th><%= building.name %></th>
              </tr>
              <tr>
                <th><strong>تعداد طبقات:&nbsp;</strong></th>
                <th><%= building.floor_cnt %></th>
              </tr>

              <tr>
                <th><strong>تعداد واحد:</strong></th>
                <th><%= building.units_cnt %></th>
              </tr>
              <tr>
                <th><strong>نام مدیر:</strong></th>
                <th><%= @building.user.profile.first_name %> <%= @building.user.profile.last_name %></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <!-- Picture -->
        </div>
      </div>
      <div class="pull-left">
        <%= link_to building,:class => "btn btn-success" do %>
          <i class="fa fa-folder-open-o"></i>&nbsp;
          <%=t :show_building_info %>
        <% end %>
      </div>
      <br>
      <br/>

      <div class="row-fluid">
        <div class="table-responsive">
          <table class="table table-success table-condensed table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th style="width:10%;">شماره واحد</th>
                <th style="width:10%;">طبقه</th>
                <th style="width:15%;">جهت مکانی</th>
                <th style="width:15%;">مساحت</th>
                <th style="width:10%;">تعداد ساکنین</th>
              </tr>
            </thead>
            <tbody>
              <% @units = @building.units %>
              <% @units.each do |unit| %>
              <tr>
                <th><%= unit.unit_number %></th>
                <th><%= unit.floor_number %></th>
                <th><%= unit.side %></th>
                <th><%= unit.area %></th>
                <th><%= unit.resident_count %></th>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="left">
        <%= link_to new_expense_path(building_id: building.id),:class => "btn btn-primary" do %>
          <i class="fa fa-plus-square"></i>&nbsp;
          <%= 'هزینه جدید برای این ساختمان' %>
        <% end %>
        <%= link_to expenses_path(building_id: building.id),:class => "btn btn-info" do %>
          <i class="fa fa-tasks"></i>&nbsp;
          <%= 'مشاهده هزینه ها' %>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="panel-heading">
      <h1>لیست ساختمانها</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>نام ساختمان</th>
              <th style="width:10%;"></th>
              <th style="width:10%;"></th>
              <th style="width:10%;"></th>
            </tr>
          </thead>

          <tbody>
            <% @buildings.each do |building| %>
              <tr>
                <td><%= building.name %></td>
                <td>
                  <%= link_to building,:class => "btn btn-success" do %>
                  <i class="fa fa-folder-open-o"></i>&nbsp;
                  <%=t :show_building_info %>
                  <% end %>
                </td>
                <td>
                <%= link_to new_expense_path(building_id: building.id),:class => "btn btn-primary" do %>
                  <i class="fa fa-plus-square"></i>&nbsp;
                  <%= 'هزینه جدید برای این ساختمان' %>
                <% end %>
                </td>
                <td>
                <%= link_to expenses_path(building_id: building.id),:class => "btn btn-info" do %>
                  <i class="fa fa-tasks"></i>&nbsp;
                  <%= 'مشاهده هزینه ها' %>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
