<p id="notice"><%= notice %></p>

<p>
  <strong>تعداد طبقات:</strong>
  <%= @building.floor_cnt %>
</p>

<p>
  <strong>تعداد واحد:</strong>
  <%= @building.units_cnt %>
</p>

<p>
  <strong>مدیر:</strong>
  <%= @building.manager_id %>
</p>

<p>
  <strong>دیگر مشخصات:</strong>
  <%= @building.general_info %>
</p>

<%= link_to t('Edit'), edit_building_path(@building) %> |
<%= link_to t('Back'), buildings_path %>
