
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>اطلاعات ساختمان</h1>
    </div>
    <div class="panel-body">
    	<div class="row-fluid">

				<p id="notice"><%= notice %></p>

				<p>
				  <strong>نام ساختمان:</strong>
				  <%= @building.name %>
				</p>

				<p>
				  <strong>تعداد طبقات:</strong>
				  <%= @building.floor_cnt %>
				</p>

				<p>
				  <strong>تعداد واحد:</strong>
				  <%= @building.units_cnt %>
				</p>

				<p>
				  <strong>نام مدیر:</strong>
				  <%= @building.user.profile.first_name %> <%= @building.user.profile.last_name %>
				</p>

				<br>
				<br>
				<br>
				<div class="table-responsive">
					<table class="table table-success table-condensed table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th style="width:10%;">نام مالک</th>
								<th style="width:10%;">طبقه</th>
								<th style="width:10%;">شماره واحد</th>
								<th style="width:15%;">جهت مکانی</th>
								<th style="width:15%;">مساحت</th>
								<th style="width:10%;">تعداد ساکنین</th>
								<th style="width:20%;"></th>
							</tr>
						</thead>
						<tbody>
							<% @units = @building.units %>
							<% @units.each do |unit| %>
							<tr>
								<th>
									<% if unit.user != nil %>
									<%= unit.user.profile.first_name %> <%= unit.user.profile.last_name %>
									<% end %>
								</th>
								<th><%= unit.floor_number %></th>
								<th><%= unit.unit_number %></th>
								<th><%= unit.side %></th>
								<th><%= unit.area %></th>
								<th><%= unit.resident_count %></th>
								<th class="center"><%= link_to t('Edit'), edit_unit_path(unit), :class => 'btn btn-primary' %></th>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				
				<br>
				<br>
				<%= link_to 'مشاهده هزینه ها', expenses_path(building_id: @building.id) %>
				<br>
				<%= link_to 'مشاهده پلان های هزینه', plans_path(building_id: @building.id) %>
				<br>

			</div>
    </div>
  </div>
</div>
