<div class="container" style="margin-top:90px;">
<div style="width:350px; margin-left:auto; margin-right:auto;">
<div class="widget_login"><div class="page-header">
					<!-- <h2>Sign in</h2> -->
          <h3>
  ورود
    <small>به حساب کاربری خود</small>
  </h3>

					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>'form', :role=>'form') do |f| %>
					  
            <div class="form-group">
              <%= f.label "ایمیل", :class=>'form-label' %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <%= f.email_field :email, :placeholder=>'Email', :class=>'form-control', :autofocus => true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label "گذرواژه", :class=>'form-label' %>
  					  <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <%= f.password_field :password, :placeholder=>'Password', :class=>'form-control' %>
              </div>
            </div>

					  <% if devise_mapping.rememberable? -%>
					    <div class="form-group">
                <div class="controls">
                  <%= f.check_box :remember_me %>&nbsp;<%= f.label "مرا به خاطر بسپار", :class=>'form-label' %>
                </div>
              </div>
					  <% end -%>

					  <%= f.submit "ورود", :class=>'large green button radius' %>
					<% end %>
          <hr>
          <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>

