<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bill_id, :class => 'control-label' %>
    <%= f.number_field :bill_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <%= f.number_field :user_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amount, :class => 'control-label' %>
    <%= f.number_field :amount, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :trace_number, :class => 'control-label' %>
    <%= f.number_field :trace_number, :class => 'form-control' %>
  </div>
  <div class="checkbox">
    <%= f.label :status, :class => 'control-label' %>
    <%= f.check_box :status, :class => 'checkbox' %>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'control-label' %>
    <%= f.text_area :message, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label' %>
    <%= f.datetime_select :date, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
