<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @payment.bill_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Trace number:</strong>
  <%= @payment.trace_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @payment.message %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
