<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @unit.user_id %>
</p>

<p>
  <strong>Building:</strong>
  <%= @unit.building_id %>
</p>

<p>
  <strong>طبقه:</strong>
  <%= @unit.floor_number %>
</p>

<p>
  <strong>جهت مکانی:</strong>
  <%= @unit.side %>
</p>

<p>
  <strong>شماره واحد:</strong>
  <%= @unit.unit_number %>
</p>

<p>
  <strong>مساحت:</strong>
  <%= @unit.area %>
</p>

<p>
  <strong>شمار سکنه:</strong>
  <%= @unit.resident_count %>
</p>

<%= link_to t('Edit'), edit_unit_path(@unit) %> |
<%= link_to t('Back'), buildings_path %>
