<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>لیست واحد ها</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>User</th>
              <th>Building</th>
              <th>طبقه</th>
              <th>جهت مکانی</th>
              <th>شماره واحد</th>
              <th>مساحت</th>
              <th>شمار سکنه</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @units.each do |unit| %>
            <tr>
              <td><%= unit.user_id %></td>
              <td><%= unit.building_id %></td>
              <td><%= unit.floor_number %></td>
              <td><%= unit.side %></td>
              <td><%= unit.unit_number %></td>
              <td><%= unit.area %></td>
              <td><%= unit.resident_count %></td>
              <td><%= link_to t('Show'), unit %></td>
              <td><%= link_to t('Edit'), edit_unit_path(unit) %></td>
              <td><%= link_to t('Destroy'), unit, method: :delete, data: { confirm: 'آیا مطمئن هستید؟' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to 'ایجاد واحد', new_unit_path %>
    </div>
  </div>
</div>