<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group hidden">
    <%= f.label :building_id, :class => 'control-label' %>
    <%= f.number_field :building_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price,"مبلغ", :class => 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-money"></i></div>
      <%= f.number_field :price, :class => 'form-control' %>
      <div class="input-group-addon">ریال</div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description,"توضیحات", :class => 'control-label' %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :release_date, "تاریخ صدور", :class => 'control-label' %>
    <div class="input-group">
      <%= f.text_field :release_date, :class => 'form-control col-xs-5 ltr' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deadline, "زمان پرداخت", :class => 'control-label' %>
    <div class="input-group">
      <%= f.text_field :deadline, :class => 'form-control col-xs-5 ltr' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number,"شماره سریال", :class => 'control-label' %>
    <%= f.number_field :number, :class => 'form-control' %>
  </div>
  <br/>
  <div>
    <h3>انتخاب پلان هزینه</h3>
  </div>
  <div id="plan-choose">
  <% @expense.building.plans.each do |plan| %>
    <div>
      <%= radio_button_tag :plan_id, plan.id %>
      &nbsp;
      <%= plan.name %>
    </div>
  <% end %>
  </div>
  <%= link_to "#","data-toggle" => "modal", 'data-target' => '#newPlan', :class => "btn btn-primary" do %>
        <i class="fa fa-plus-square"></i>&nbsp;
        <%= 'ایجاد پلان جدید' %>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="form-group">
    <%= f.submit "تائید", :class => 'btn btn-success col-sm-4' %>
  </div>
<% end %>

<div class="modal fade" id="newPlan" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        ایجاد پلان
      </div>
      <div class="modal-body">

        <%= render '/plans/form_modal' %>

      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'persianDatepicker.min' %>

<script type="text/javascript">
  $(function() {
      $("#expense_deadline, #expense_release_date").persianDatepicker({
        theme: 'default',
        selectedBefore: true,
        cellWidth: 33,
        cellHeight: 32,
        fontSize: 15,
        showGregorianDate:true,
      }); 
  });
</script>