<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group hidden">
    <%= f.label :building_id, :class => 'control-label' %><br>
    <%= f.number_field :building_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price,"مبلغ", :class => 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-money"></i></div>
      <%= f.number_field :price, :class => 'form-control' %>
      <div class="input-group-addon">ریال</div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description,"توضیحات", :class => 'control-label' %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">


    <%= f.label :release_date,"تاریخ صدور", :class => 'control-label' %><br/>
    <% @jalali = JalaliDate.to_jalali(Time.now)%>
    <%= 'روز'%><%= select_tag  "ja_rel_dd", options_for_select(1..31, @jalali.day) %>/
    <%= 'ماه'%><%= select_tag "ja_rel_mm", options_for_select(1..12, @jalali.month) %>/
    <%= 'سال'%><%= select_year(@jalali.year, {:start_year => 1393, :end_year => 1400}, {:name =>"ja_rel_yyyy"}) %>
  </div>
  <div class="form-group">
    <%= f.label :deadline,"زمان پرداخت", :class => 'control-label' %><br>
    <% @jalali = JalaliDate.to_jalali(Time.now)%>
    <%= 'روز'%><%= select_tag  "ja_ded_dd", options_for_select(1..31, @jalali.day) %>/
    <%= 'ماه'%><%= select_tag "ja_ded_mm", options_for_select(1..12, @jalali.month) %>/
    <%= 'سال'%><%= select_year(@jalali.year, {:start_year => 1393, :end_year => 1400}, {:name =>"ja_ded_yyyy"}) %>
  </div>
  <div class="form-group">
    <%= f.label :number,"شماره سریال", :class => 'control-label' %><br>
    <%= f.number_field :number, :class => 'form-control' %>
  </div>
  <br/>
  <div>
  <h3>انتخاب پلان هزینه</h3>
  </div>
  <% @expense.building.plans.each do |plan| %>
  <div>
  <%= plan.name %>
  &nbsp;
  <%= radio_button_tag :plan_id ,plan.id %>
  </div>
  <% end %>
  <br/>
  <div class="actions">
    <%= f.submit "تائید", :class => 'btn btn-success col-md-4' %>
  </div>
<% end %>
