<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3><% if @building.name != nil %>
          لیست هزینه های <%= @building.name %>
          <% else %>
          لیسته هزینه های ساختمان
          <% end %></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>توضیحات</th>
              <th>مبلغ</th>
              <th>تاریخ صدور</th>
              <th style="width:25%;"></th>
            </tr>
          </thead>

          <tbody>
            <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.description %></td>
              <td><%= expense.price %></td>
              <td><%= expense.release_date %></td>
              <td>
                <%= link_to expense, :class => 'btn btn-success' do %>
                  <i class="fa fa-plus"></i>&nbsp;
                  <%= t('Show') %>
                <% end %>
                &nbsp;
                <%= link_to edit_expense_path(expense), :class => 'btn btn-primary' do %>
                  <i class="fa fa-pencil"></i>&nbsp;
                  <%= t('Edit') %>
                <% end %>
                &nbsp;
                <%= link_to expense, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' }, :class => 'btn btn-danger' do %>
                  <i class="fa fa-trash-o"></i>&nbsp;
                  <%= t('Destroy') %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
    </div>
    <div class="panel-footer">
      <div class="left">
        <%= link_to 'ایجاد هزینه جدید', new_expense_path(:building_id => @building_id), :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>