<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3><% if @building.name != nil %>
          لیست هزینه های <%= @building.name %>
          <% else %>
          لیسته هزینه های ساختمان
          <% end %></h3>
    </div>
    <div class="panel-body">
      <%= link_to new_expense_path(building_id: @building.id),:class => "btn btn-primary" do %>
        <i class="fa fa-plus-square"></i>&nbsp;
        <%= 'هزینه جدید برای این ساختمان' %>
      <% end %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ردیف</th>
              <th>توضیحات</th>
              <th>مبلغ</th>
              <th>تاریخ صدور</th>
              <th>مهلت پرداخت تا</th>
              <th style="width:25%;"></th>
            </tr>
          </thead>

          <tbody>
            <% @expenses.each_with_index do |expense, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= expense.description %></td>
              <td><%= expense.price %></td>
              <td><%= expense.release_date %></td>
              <td><%= expense.deadline %></td>
              <td>
                <%= link_to expense, :class => 'btn btn-success' do %>
                  <i class="fa fa-folder-open-o"></i>&nbsp;
                  <%= 'نمایش جزئیات' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
</div>