<h1>Listing expenses</h1>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th>Price</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Plan</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.manager_id %></td>
        <td><%= expense.price %></td>
        <td><%= expense.description %></td>
        <td><%= expense.deadline %></td>
        <td><%= expense.plan %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
