<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h1>لیست هزینه ها</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ساختمان</th>
              <th>مبلغ</th>
              <th>توضیحات</th>
              <th>تاریخ صدور</th>
              <th>زمان پرداخت</th>
              <th>شماره سریال</th>
              <th style="width:25%;"></th>
            </tr>
          </thead>

          <tbody>
            <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.building_id %></td>
              <td><%= expense.price %></td>
              <td><%= expense.description %></td>
              <td><%= expense.release_date %></td>
              <td><%= expense.deadline %></td>
              <td><%= expense.number %></td>
              <td>
                <div class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;<%= link_to t('Show'), expense, :class => 'btn-text' %></div>
                &nbsp;
                <div class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;<%= link_to t('Edit'), edit_expense_path(expense), :class => 'btn-text' %></div>
                &nbsp;
                <div class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;<%= link_to t('Destroy'), expense, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' }, :class => 'btn-text' %></div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>

      <%= link_to 'ایجاد هزینه جدید', new_expense_path(:building_id => @building_id) %>
      <br>
      <%= link_to 'ساختمان ها', buildings_path %>
    </div>
  </div>
</div>