
<div class="container">
  <div class="panel">
    <div class="panel-heading">

    <h3><% if @expense.building.name != nil %>
          هزینه برای <%= @expense.building.name %>
          <% else %>
          مشاهده هزینه
          <% end %></h3>
    </div>
    <div class="panel-body">
      <p>
        <strong>نام ساختمان:</strong>
        <%= @expense.building.name %>
      </p>

      <p>
        <strong>مبلغ:</strong>
        <%= @expense.price %> ریال
      </p>

      <p>
        <strong>توضیحات:</strong>
        <%= @expense.description %>
      </p>

      <p>
        <strong>تاریخ صدور:</strong>
        <%= to_jalali_date(@expense.release_date) %>
      </p>

      <p>
        <strong>زمان پرداخت:</strong>
        <%= to_jalali_date(@expense.deadline) %>
      </p>

      <p>
        <strong>شماره سریال:</strong>
        <%= @expense.number %>
      </p>

      <%= link_to expenses_path(:building_id => @expense.building_id),:class => "btn btn-orange" do %>
        <i class="fa fa-arrow-circle-o-right"></i>&nbsp;
        <%= t('Back') %>
      <% end %>

      <%= link_to edit_expense_path(@expense), :class => 'btn btn-primary' do %>
        <i class="fa fa-edit"></i>&nbsp;
        <%= 'ویرایش هزینه' %>
      <% end %>
    </div>
  </div>
</div>
