<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= f.label :building_id, :class => 'form-label' %><br>
    <%= f.number_field :building_id, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :name,"نام", :class => 'form-label' %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :number,"شماره", :class => 'form-label' %><br>
    <%= f.number_field :number, :class => 'form-control' %>
  </div>
  <br/>
  <br/>
  <% @plan.building.units.each do |unit| %>
  <div class="field">
  <%= unit.id %>

  </div>
  <%end%>
  <div class="actions">
    <%= f.submit "تائید", :class => 'btn btn-success' %>
  </div>
<% end %>
