<div class="container">
  <div class="panel">
    <div class="panel-heading">
    <h1>لیست پلان های هزینه</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>ساختمان</th>
              <th>نام</th>
              <th>شماره</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @plans.each do |plan| %>
            <tr>
              <td><%= plan.building_id %></td>
              <td><%= plan.name %></td>
              <td><%= plan.number %></td>
              <td><%= link_to t('Show'), plan %></td>
              <td><%= link_to t('Edit'), edit_plan_path(plan) %></td>
              <td><%= link_to t('Destroy'), plan, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>

      <%= link_to 'ایجاد پلان جدید', new_plan_path(:building_id => @building_id) %>
      <br>
      <%= link_to 'ساختمان ها', buildings_path %>
    </div>
  </div>
</div>