<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @plan.building_id %>
</p>

<p>
  <strong>Formula:</strong>
  <%= @plan.formula %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @plan.unit_id %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @plan.rate %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
