<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @plan.building_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @plan.number %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
