<p id="notice"><%= notice %></p>

<p>
  <strong>ساختمان:</strong>
  <%= @plan.building_id %>
</p>

<p>
  <strong>نام:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>شماره:</strong>
  <%= @plan.number %>
</p>

<%= link_to t('Edit'), edit_plan_path(@plan) %> |
<%= link_to t('Back'), plans_path(:building_id => @plan.building_id) %>
