
<div class="container">
	<div class="panel">
		<div class="panel-heading">
		<h3><% if @plan.building.name != nil %>
          پلان هزینه برای <%= @plan.building.name %>
          <% else %>
          مشاهده پلان هزینه
          <% end %></h3>
		</div>
		<div class="panel-body">
			<p>
				<strong>نام ساختمان:</strong>
				<%= @plan.building.name %>
			</p>

			<p>
				<strong>نام:</strong>
				<%= @plan.name %>
			</p>
			<br/>
			<p>
				<strong>ضرایب واحدها در این پلان</strong>
			</p>

			<% @plan.building.units.each do |unit| %>
			<div>
				واحد <%= unit.unit_number %> : 
				<% if @plan.rates.where(:unit_id => unit.id).first != nil %>
				<%= @plan.rates.where(:unit_id => unit.id).first.rate %>
				<% else %>
				<%= "موجود نیست" %>
				<%end%>
			</div>
			<%end%>

			<%= link_to plans_path(:building_id => @plan.building_id),:class => "btn btn-orange" do %>
			<i class="fa fa-arrow-circle-o-right"></i>&nbsp;
			<%= t('Back') %>
			<% end %>

			<%= link_to edit_plan_path(@plan), :class => 'btn btn-primary' do %>
			<i class="fa fa-edit"></i>&nbsp;
			<%= 'ویرایش هزینه' %>
			<% end %>
		</div>
	</div>
</div>
