
<!--START NAVBAR -->

<nav id="main-nav" class="mainnav navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><!--img src="/assets/logo.png" alt=""--></a>
    </div>

    <div class="main-menu collapse navbar-collapse">
      <% if user_signed_in? %>
      <% @profile = get_profile %>
      <ul class="nav navbar-nav navbar-left">
        <li><%= Time.now.in_time_zone('Tehran').to_date %></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle btn-nav2" data-toggle="dropdown">
            <i class="fa fa-user"></i> <%= current_user.email %>&nbsp;<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" data-toggle="modal" data-target="#userSettingsDialog"><i class="fa fa-cogs"></i> تنظیمات شخصی حساب</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/users/sign_out" rel="nofollow"><i class="fa fa-power-off"></i> خروج</a>
            </li>
          </ul>
        </li>
        <!--
        <li>
          <div class="btn-group" style="margin-top:7px;">
            <a class="medium twitter button radius" style="text-decoration:none;"><i class="fa fa-envelope-o"></i> (۵) پیغام</a>
            <a href="/users/sign_out" rel="nofollow" class="medium twitter button radius" style="text-decoration:none;"><i class="fa fa-power-off"></i> خروج</a>
          </div>
        </li>
        -->
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="btn-group" style="margin-top:15px;">
            <a href="/users/sign_in" class="btn btn-nav" style="text-decoration:none;">ورود</a>
            <a href="/users/sign_up" class="btn btn-nav" style="text-decoration:none;">ثبت نام</a>
          </div>
        </li>
      </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<% if user_signed_in? %>
<div class="modal fade" id="userSettingsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        تنظیمات شخصی حساب
      </div>
      <div class="modal-body">
        <ul id="userSettings" class="nav nav-tabs">
          <li class="active">
            <a href="#settings" data-toggle="tab" data-original-title="">پروفایل</a>
          </li>
          <li class="">
            <a href="#password" data-toggle="tab" data-original-title="">رمز عبور</a>
          </li>
        </ul>
        <br>
        <div id="userSettingsContent" class="tab-content">
          <div class="tab-pane fade active in" id="settings">
            <div class="row">
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-8" style="margin-right:10px;">
                <%= render 'profiles/form_modal' %>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="password">
            <div class="row">
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-8" style="margin-right:10px;">
                <%= render 'devise/passwords/edit_form' %>
              </div>
            </div>
            <!-- <form id="changePassword">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="password" class="form-control" Placeholder="Password">
              </div>
              &nbsp;
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="password" class="form-control" Placeholder="Confirm Password">
              </div>
              &nbsp;
              <div class="input-group">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </form> -->
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer"></div> -->
    </div>
  </div>
</div>
<% end %>

<% if user_signed_in? %>
<nav class="subnav subnav-fixed navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sub-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="sub-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/charge/dashboard"><i class="fa fa-dashboard icon-large"></i>&nbsp;داشبورد</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-building-o"></i>&nbsp;ساختمان <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if params[:controller] != 'buildings' or params[:action] != 'index' %>
            <li>
              <a href="/buildings">نمایش ساختمانها</a>
            </li>
            <% end %>
            <% if params[:controller] == 'buildings' and params[:action] == 'index' %>
            <li>
              <a href="/buildings/new">ایجاد ساختمان</a>
            </li>
            <% end %>
            <% if params[:controller] == 'buildings' and (params[:action] == 'show' or params[:action] == 'edit') %>
            <li>
              <%= link_to 'واحد جدید برای این ساختمان', new_unit_path(building_id: @building.id) %>
            </li>
            <% end %>
            <% if params[:controller] == 'buildings' and params[:action] == 'show' %>
            <li>
                <%= link_to 'ویرایش ساختمان', edit_building_path(@building) %>
            </li>
            <% end %>
          </ul>
        </li>
        <% if params[:controller] == 'buildings' and (params[:action] == 'show' or params[:action] == 'edit') %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-money"></i>&nbsp;هزینه <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if params[:controller] == 'buildings' and (params[:action] == 'show' or params[:action] == 'edit') %>
            <li>
              <%= link_to 'هزینه جدید برای این ساختمان', new_expense_path(building_id: @building.id) %>
            </li>
            <% end %>
            <% if params[:controller] == 'buildings' and (params[:action] == 'show' or params[:action] == 'edit') %>
            <li>
              <%= link_to 'مشاهده هزینه ها', expenses_path(building_id: @building.id) %>
            </li>
            <% end %>
            <% if params[:controller] == 'buildings' and (params[:action] == 'show' or params[:action] == 'edit') %>
            <li>
              <%= link_to 'مشاهده پلان های هزینه', plans_path(building_id: @building.id) %>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o icon-large"></i>&nbsp;گزارش ها <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">ساکنین</a></li>
            <li><a href="#">وضعیت حساب</a></li>
            <li><a href="#">گردش حساب</a></li>
            <li><a href="#">بدهی ساکنین</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o icon-large"></i>&nbsp;اخبار <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">اخبار ساختمان</a></li>
            <li><a href="#">اخبار سیستم</a></li>
          </ul>
        </li>
        <li class=""><a href="/charge/help"><i class="fa fa-lightbulb-o icon-large"></i>&nbsp;راهنما</a></li>
      </ul>
      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>
