<!DOCTYPE html>
<html>
<head>
  <title>IE</title>
  <%= stylesheet_link_tag    "bootstrap.min", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
