<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>سیستم مدیریت شارژ ساختمان</title>
  
  <%= stylesheet_link_tag 'font-awesome.min', 'bootstrap.min', 'bootstrap-rtl', 'charge', 'font', 'error' %>
  
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="wrapper">
    <%=render :partial => 'layouts/header' %>

    <% if user_signed_in? %>
      <%=render :partial => 'layouts/modals' %>
    <% end %>

    <%= yield %>
    <div class="push"></div>
  </div>
  <%=render :partial => 'layouts/footer' %>

  <div class="notification"></div>
  <% unless notice.nil? %>
  <div id="notice" class="notification">
    <%= notice %>
  </div>
  <% end %>
  <%= javascript_include_tag "application", 'bootstrap.min' %>

</body>
</html>
